body {
  background-image: url("../imge/d9ff6536-a54a-4f1b-b1ed-9859b0b7d9ec.jfif");
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
}
.my-border {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 580px;
  background-color: rgba(0, 0, 0, 0.789);
}
fieldset {
  border: 1px solid white;
  padding: 30px;
  color: white;
  position: sticky;
  width: 70%;
  height: 80%;
}
h1 {
  color: white;
  margin-top: 10px;
}

.block-lable {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.51rem;
  margin-top: 1rem;
  width: 35%;
}
input {
  font-size: 1rem;
  padding: 4px;
  border: none;
  width: 100%;
}

textarea:focus,
input:focus {
  outline: none;
}

#sign-in-btn {
  display: block;
  font-size: 14px;
  padding: 10px;
  width: 80%;
  border-radius: 20px;
  margin: 20px;
  position: relative;
  right: -5%;

  background-color: rgb(184, 6, 9);
  color: white;
  border: none;
  cursor: pointer;
}

#sign-in-btn:hover {
  background-color: rgb(104, 109, 104);
  color: black;
}

.link {
  display: block;
  text-decoration: none;
  margin: 5px;
}
a {
  color: white;
  text-decoration: none;
  margin: 5px;
  position: relative;
  right: 80px;
  display: block;
}
.link a {
  color: white;
  text-decoration: none;
  margin: 5px;
  position: relative;
  right: 89px;
  display: block;
}

a:hover {
  color: rgb(197, 12, 12);
}
